<header class="flex items-center justify-between px-10 py-5 border-b-2 border-neutral-900 mb-10">
    <div class="text-xl font-semibold">
        <%= link_to "eHealth", root_path %>
    </div>
    <nav class="flex items-center gap-10 text-xl">
         <%= link_to "hospitals", hospitals_path, class: "hover:underline" %>
         <% if user_signed_in? %>
         <%= button_to "sign out", destroy_user_session_path ,method: :delete, class: "p-1 px-2 bg-blue-600 text-white" %>
         <% else %>
         <%= link_to "sign up", new_user_registration_path, class: "p-1 px-2 bg-blue-600 text-white" %>
         <%= link_to "login", new_user_session_path, class: "p-1 px-2 bg-blue-600 text-white" %>
         <% end%>
    </nav>
</header>